.head_container {
    border-bottom: 1px solid #e9e9e9;
    line-height: 72px;
    height: 72px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;

    .logo_wrapper {
        width: 216px;

        .logoImg {}

        .text {}
    }
}